@model TestDocker.ViewsModels.EditNomenclatureViewModel

<table class="table-sm table-striped table-responsive-md btn-table">
    <thead>
        <tr>
            <th colspan="2" class="text-center">Finishings</th>
        </tr>
        <tr>
            <td>Brand.Collection.Finishing</td>
        </tr>
    </thead>
    <tbody>
        @foreach (FinishingViewModel finishingViewModel in Model.FinishingViewModels) 
        {
            <tr>
                <td scope="row">
                    @finishingViewModel.BrandName.@finishingViewModel.CollectionName.@finishingViewModel.Name
                </td>
                <td>
                    <a class="btn btn-red btn-sm m-0"
                       asp-controller="Nomenclature"
                       asp-action="DeleteFinishing"
                       asp-route-id="@finishingViewModel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
