@model TestDocker.ViewsModels.EditNomenclatureViewModel
<div class="row">
    <div class="border col-sm-auto">
        <partial name="_PartialBrand" />
    </div>
    <div class="border col-sm-auto">
        <partial name="_PartialBrandCollection" />
    </div>
    <div class="border col-sm-auto">
        <partial name="_PartialFurnitureName" />
    </div>
    <div class="border col-sm-auto">
        <partial name="_PartialFinishing" />
    </div>
    <div class="border col-sm-auto">
        <partial name="_PartialFurnitureType" />
    </div>
    <div class="border col-sm-auto">
        <partial name="_PartialBuyer" />
    </div>
</div>
@section Footer {
    <partial name="_FooterPartial" />
}