@model TestDocker.ViewsModels.EditNomenclatureViewModel
<div class="row">
    <div class="col-sm-4">
        <partial name="_PartialBrand" />
    </div>
    <div class="col-sm-8">
        <partial name="_PartialBrandCollection" />
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @*<partial name="_PartialBrand" />*@
    </div>
    <div class="col-sm-6">
        @*<partial name="_PartialBrand" />*@
    </div>
</div>