@model TestDocker.ViewsModels.BrandCollectionViewModel
@{
    ViewBag.Title = "Удаление коллекции в брэнде";
}
<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div>
        @if (Model.FurnitureNames.Count > 0)
        {
            <h4>
                Удалить не возможно <br />
                есть изделия используещие данную коллекцию
            </h4>
            <h4>Всего: @Model.FurnitureNames.Count</h4>
        }
        @if (Model.Finishings.Count > 0)
        {
            <h4>
                Удалить не возможно <br />
                есть отделки используещие данную коллекцию
            </h4>
            <h4>Всего: @Model.Finishings.Count</h4>
        }

        else
        {
            <form asp-action="DeleteBrandCollection" asp-route-id="@Model.Id" method="post">
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Удалить" />
                </div>
            </form>
        }
    </div>
</div>
