@model TestDocker.ViewsModels.EditNomenclatureViewModel

    <table class="table-sm table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th colspan="5" class="text-center">Collections</th>
            </tr>
            <tr>
                <td>Brand.Collection</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>