<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Analytics</a>       
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Nomenclature" asp-action="Add">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Delete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Settings</a>
    </li>
</ul>
